@charset "UTF-8";

        .main {
            width: 80%;
            text-align: center;
            float: left;
        }

        .main>h1 {
            text-align: center;
        }

        .stat {
            border: 1px solid black;
            width: 200px;
            height: 200px;
            margin: 50px;
        }

        .wrapper {
            overflow: hidden;
        }
