@charset "UTF-8";

.main {
    text-align: center;
    width: 1400px;
    margin: 0 auto;
    overflow: hidden;
}

.main>img {
	width: 150px;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
}

.main>div{
	width: 700px;
	height: 500px;
	float: left;
}