<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<!-- null값이 발생하는 경우 빈칸잉 아닌 null로 처리 -->
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/> 
	</settings>
	
	<!-- mapper위치  등록-->
	<typeAliases>
		<typeAlias type="com.soolzari.shop.client.model.vo.Client" alias="c"/>
		<typeAlias type="com.soolzari.shop.client.model.vo.Reservation" alias="r"/>

		<typeAlias type="com.soolzari.shop.client.model.vo.Class_List" alias="cl"/>

		<typeAlias type="com.soolzari.shop.admin.model.vo.Notice" alias="n"/>

	</typeAliases>

</configuration>
